<h1>Listing noticias</h1>

<table>
  <tr>
    <th>Titulo</th>
    <th>Corpo</th>
    <th>Data</th>
    <th>Usuario</th>
    <th>Concurso</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @noticias.each do |noticia| %>
  <tr>
    <td><%= noticia.titulo %></td>
    <td><%= noticia.corpo %></td>
    <td><%= noticia.data %></td>
    <td><%= noticia.usuario %></td>
    <td><%= noticia.concurso %></td>
    <td><%= link_to 'Show', noticia %></td>
    <td><%= link_to 'Edit', edit_noticia_path(noticia) %></td>
    <td><%= link_to 'Destroy', noticia, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Noticia', new_noticia_path %>
