<h1>Listing arquivos</h1>

<table>
  <tr>
    <th>Descricao</th>
    <th>Data adicionada</th>
    <th>Concursos</th>
    <th>Documento</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @arquivos.each do |arquivo| %>
  <tr>
    <td><%= arquivo.descricao %></td>
    <td><%= arquivo.data_adicionada %></td>
    <td><%= arquivo.concursos %></td>
	<td><%= link_to 'pdf', arquivo.documento.url %></td>
    <td><%= link_to 'Show', concurso_arquivo %></td>
    <td><%= link_to 'Edit', edit_concurso_arquivo_path(arquivo) %></td>
    <td><%= link_to 'Destroy', concurso_arquivo, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Arquivo', new_concurso_arquivo_path %>
