<%= form_for(@concurso) do |f| %>
  <% if @concurso.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@concurso.errors.count, "error") %> prohibited this concurso from being saved:</h2>

      <ul>
      <% @concurso.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :titulo %><br />
    <%= f.text_field :titulo %>
  </div>
  <div class="field">
    <%= f.label :inicio_inscricoes %><br />
    <%= f.date_select :inicio_inscricoes %>
  </div>
  <div class="field">
    <%= f.label :fim_inscricoes %><br />
    <%= f.date_select :fim_inscricoes %>
  </div>
  <div class="field">
    <%= f.label :data_prova %><br />
    <%= f.date_select :data_prova %>
  </div>
  <div class="field">
    <%= f.label :data_resultado %><br />
    <%= f.date_select :data_resultado %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
