<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @candidato.nome %>
</p>

<p>
  <b>Data nascimento:</b>
  <%= @candidato.data_nascimento %>
</p>

<p>
  <b>Nacionalidade:</b>
  <%= @candidato.nacionalidade %>
</p>

<p>
  <b>Sexo:</b>
  <%= @candidato.sexo %>
</p>

<p>
  <b>Estado civil:</b>
  <%= @candidato.estado_civil %>
</p>

<p>
  <b>Cpf:</b>
  <%= @candidato.cpf %>
</p>

<p>
  <b>Endereco:</b>
  <%= @candidato.endereco %>
</p>

<p>
  <b>Complemento:</b>
  <%= @candidato.complemento %>
</p>

<p>
  <b>Bairro:</b>
  <%= @candidato.bairro %>
</p>

<p>
  <b>Telefone:</b>
  <%= @candidato.telefone %>
</p>

<p>
  <b>Celular:</b>
  <%= @candidato.celular %>
</p>

<p>
  <b>Email:</b>
  <%= @candidato.email %>
</p>

<p>
  <b>Semestre:</b>
  <%= @candidato.semestre %>
</p>

<p>
  <b>Faculdade:</b>
  <%= @candidato.faculdade %>
</p>

<p>
  <b>Pago:</b>
  <%= @candidato.pago %>
</p>

<p>
  <b>Deferido:</b>
  <%= @candidato.deferido %>
</p>

<p>
  <b>Aprovado:</b>
  <%= @candidato.aprovado %>
</p>

<p>
  <b>Data inscricao:</b>
  <%= @candidato.data_inscricao %>
</p>

<p>
  <b>Data pagamento:</b>
  <%= @candidato.data_pagamento %>
</p>

<p>
  <b>Concurso:</b>
  <%= @candidato.concurso %>
</p>


<%= link_to 'Edit', edit_candidato_path(@candidato) %> |
<%= link_to 'Back', candidatos_path %>
